.info {
  margin-left: 50px;
  padding: 100px;
  background-color: #7070e3;
  width: 800px;
  text-align: center;

  .title {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
  }
  .value {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
  }
  .unit {
    margin-left: 5px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    align-self: center;
  }

  .value-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }

  border-radius: 10px;
}